body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.container{
    padding: 16px;
}
.top-bar{
    background-color: #dddada;
    margin: -16px;
    text-align: center;
    padding-top: 10px;
    /* padding-bottom: 5px; */
}
#profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.top-bar a{
    text-decoration: none;
    margin: auto 10px;
}

#main-pic{
    padding: 2px;
    border: 1px solid black;
}
.container h2{
    text-align: center;
}
.para-heading p{
    font-size: 1.5rem;
}
table,tr,th,td{
    border: 1px solid;
    border-collapse: collapse;
}
th,td{
    padding: 5px;
}
table{
    width: 100%;
}
#dynamic-text{
    color: blue;
}

