body{
    font-family: Arial, Helvetica, sans-serif;
}
#top-bar{
    background-color: #dddada;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
#main-pic{
    padding: 2px;
    border: 1px solid black;
}
.para-heading{
    text-align: center;
}
.socials{
    padding: 5px;
    padding-bottom: 0px;
}

